<!-- START FOOTER -->
<div class="container-fluid container-fixed-lg footer">
    <div class="copyright sm-text-center">
        <p class="small no-margin pull-left sm-pull-reset">
            <span class="hint-text">FINAL FANTASY XIV © 2010 - 2021 SQUARE ENIX CO., LTD. All Rights Reserved.</span>
            <span class="sm-block"><a href="#" class="m-l-10 m-r-10">Hrothgar Master Race.</a> We are the cool cat
            </span>
        </p>
        <p class="small no-margin pull-right sm-pull-reset">
            <a href="#">Hand-crafted by Hrothgars</a>
        </p>
        <div class="clearfix"></div>
    </div>
</div>
<!-- END FOOTER -->
<div class="modal " id="blockAppliactionDialog" tabindex="-1" role="status" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: transparent; border-width:0;">
            <div class="container pt-4 px-5" style="color:white; font-size:large">
               <h3> Wait a moment..</h3>
            </div>
        </div>
    </div>
</div>