<!-- START PAGE HEADER WRAPPER -->
<!-- START HEADER -->
<div class="header ">
    <!-- START MOBILE SIDEBAR TOGGLE -->
    <a href="#" class="btn-link toggle-sidebar d-lg-none pg-icon btn-icon-link" data-toggle="sidebar">
        <!-- menu--></a> 
    <!-- END MOBILE SIDEBAR TOGGLE -->
    <div class="">
        <div class="brand inline   ">
            <img src="/assets/img/logo.png" alt="logo" data-src="/assets/img/logo.png"
                data-src-retina="/assets/img/logo_2x.png" width="78" height="22">
        </div>
    </div>
    <div class="d-flex align-items-center">
        <!-- START User Info-->
        <div class="dropdown pull-right d-block ">
            <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" aria-label="profile dropdown">
                <span class="thumbnail-wrapper d32 circular inline">
                    <img src="
                    <%if (user && user.lodestone && user.lodestone.avatar) { %>
                        <%= user.lodestone.avatar %>
                    <% }else{ %>
                        https://cdn.discordapp.com/avatars/<%= user.userID %>/<%= user.avatarId %>.png
                    <% } %>
                    " width="32" height="32">
                </span>
            </button>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
                <a href="#" class="dropdown-item"><span>Signed in as <br /><b>
                    <%if (user && user.lodestone &&  user.lodestone.username) { %>
                        <%= user.lodestone.username %>
                    <% }else{ %>
                        <%= user.username %>#<%= user.discriminator %>
                    <% } %>
                </b></span></a>

                <a href="/users/logout" class="dropdown-item">Logout</a>
            </div>
        </div>
        <!-- END User Info-->
    </div>
</div>
<!-- END HEADER -->
<!-- END PAGE HEADER WRAPPER -->