
  <!-- BEGIN VENDOR JS -->
  <!-- BEGIN VENDOR JS -->
  <script src="/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
  <script src="/assets/plugins/jquery/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="/assets/plugins/modernizr.custom.js" type="text/javascript"></script>
  <script src="/assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
  <script src="/assets/plugins/popper/umd/popper.min.js" type="text/javascript"></script>
  <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="/assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
  <script src="/assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
  <script src="/assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
  <script src="/assets/plugins/jquery-actual/jquery.actual.min.js"></script>
  <script src="/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
  <script type="text/javascript" src="/assets/plugins/classie/classie.js"></script>
  <script src="/assets/plugins/bootstrap-form-wizard/js/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
  <script src="/assets/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
  <script src="/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
  <script src="/assets/plugins/moment/moment.min.js"></script>
  <script src="/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
  <script src="/assets/plugins/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
  <script src="/assets/plugins/bootstrap-select2/select2.min.js" type="text/javascript"></script>
  <script src="/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
  <script type="text/javascript" src="/assets/plugins/jquery-autonumeric/autoNumeric.js"></script>
  <!-- END VENDOR JS -->
  <!-- BEGIN CORE TEMPLATE JS -->
  <script src="/pages/js/pages.min.js" type="text/javascript"></script>
  <!-- END CORE TEMPLATE JS -->
  <!-- BEGIN PAGE LEVEL JS -->
  <script src="/assets/js/scripts.js" type="text/javascript"></script>
  <!-- END PAGE LEVEL JS -->