<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>
</head>

<body class="fixed-header">
  <!-- <---% include ./partials/sidebar %> -->
  <!-- START PAGE-CONTAINER -->
  <div class="page-container" style="padding-left: 0px;">
    <% include ./partials/header %>
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
      <!-- START PAGE CONTENT -->
      <div class="content ">
        <div class="container-fluid sm-p-l-5 bg-contrast-lower ">
          <%if (admin) { %>
          <div class="" style='padding-top: 20px;margin: 0 auto; text-align: center;'>
            <button data-toggle="modal" data-target="#createSessionModal" type="button" 
            data-backdrop="static" data-keyboard="false" 
              class="btn btn-primary btn-cons btn-lg btn-animated from-top">
              <span>Create Sessions</span>
              <span class="hidden-block">
                <i class="material-icons">military_tech</i>
              </span>
            </button>
          </div>

          <!-- Modal -->
          <div class="modal fade slide-up disable-scroll" id="createSessionModal"  tabindex="-1" role="dialog"
            aria-labelledby="modalSlideUpLabel" aria-hidden="false">
            <div class="modal-dialog ">
              <div class="modal-content-wrapper">
                <div class="modal-content">
                  <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                      <i class="pg-close fs-14"></i>
                    </button>
                    <h5>Create new session</h5>
                  </div>
                  <div class="modal-body">
                    <form role="form">
                      <div class="form-group-attached">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group form-group-default">
                              <label>Title</label>
                              <input type="text" class="form-control" id="txtTitle">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group form-group-default">
                              <label>Description</label>
                              <input type="text" class="form-control" id="txtDescription">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group form-group-default">
                              <label>Mentor Priveledge #</label>
                              <input type="text" class="form-control autonumeric"id="txtMentor" data-v-min="0" data-v-max="100">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group form-group-default ">
                              <div class="form-input-group">
                                <label>Event Date</label>
                                <input id="event-date" type="text" class="form-control date" name="eventDate">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group form-group-default input-group ">
                              <div class="form-input-group">
                                <label>Start time (UTC+8)</label>
                                <input id="timepicker" type="text" class="form-control">
                              </div>
                              <div class="input-group-append ">
                                <span class="input-group-text"><i class="pg-icon">time</i></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                        <br>
                        <div class="row">
                          <div class="col-sm-6">
                            <select class="cs-select cs-skin-slide" data-init-plugin="cs-select" id="dutyLevel"> 
                               <option value="1">Practice</option>
                              <option value="2">Aim to Clear</option>
                              <option value="3">Loot</option>
                          </select>
                          </div>
                          <div class="col-sm-6">
                            <select class="cs-select cs-skin-slide" data-init-plugin="cs-select" id="bossLevel"> 
                               <option value="trash1">Trash: Slime / Golem</option>
                              <option value="boss1">Boss 1: Ravana</option>
                              <option value="trash2">Trash: Aligator</option>
                              <option value="boss2">Boss 2: Chess kun uwu</option>
                              <option value="trash3">Trash: Bozja Ghost</option>
                              <option value="boss3">Boss 3: Katy perry Hot & Cold</option>
                              <option value="boss4">Final Boss: Queen</option>
                          </select>
                          </div>
                        </div>
                    </form>
                    <div class="row">
                      <div class="col-md-4 m-t-10 sm-m-t-10">
                        <button type="button" class="btn btn-secondary btn-block m-t-5" data-dismiss="modal">Close</button>
                      </div>
                      <div class="col-md-4 m-t-10 sm-m-t-10">
                      </div>
                      <div class="col-md-4 m-t-10 sm-m-t-10">
                        <button aria-label="" type="button" id="createBtn" class="btn btn-primary btn-block m-t-5">Create</button>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
          </div>
          <!-- /.modal-dialog -->
          <% } %>
          <div class="" style="padding:20px">
            <div class="card card-default bg-success">
              <div class="card-header  separator">
                <div class="card-title">Portlet Three
                </div>
              </div>
              <div class="card-body">
                <h3>
                  <span class="semi-bold">With</span> Separator</h3>
                <p>When it comes to digital design, the lines between functionality, aesthetics, and psychology are
                  inseparably blurred. Without the constraints of the physical world, there’s no natural form to fall
                  back on, and every bit of constraint and affordance must be introduced intentionally. Good design
                  makes a product useful. A product is bought to be used.</p>
              </div>
            </div>
          </div>
          <!-- -->
        </div>
        <!-- END CONTAINER FLUID -->
      </div>
      <!-- END PAGE CONTENT -->
      <% include ./partials/footer %>
    </div>
    <!-- END PAGE CONTENT WRAPPER -->
  </div>
  <!-- END PAGE CONTAINER -->
  <% include ./partials/script %>

  <%if (admin) { %>
  <script>
    $(document).ready(function () {
        $('#event-date').datepicker({          
          format: 'dd/mm/yyyy',
          "startDate": new Date(),
          "autoclose": true
        });
        $( '#event-date' ).datepicker( 'setDate', new Date() );
        $('.autonumeric').autoNumeric('init');
        $('#timepicker').timepicker().on('show.timepicker', function (e) {
          var widget = $('.bootstrap-timepicker-widget');
          widget.find('.glyphicon-chevron-up').removeClass().addClass('pg-arrow_maximize');
          widget.find('.glyphicon-chevron-down').removeClass().addClass('pg-arrow_minimize');
        });
        // Only apply on elements that don't have data-init-plugin="select2" 
       
        $("#createBtn").on('click', function(){
            var title = $("#txtTitle").val();
            var desc = $("#txtDescription").val();
            var ment = $("#txtMentor").val();
            var eventDate = $('#event-date').val();
            var eventTime = $('#timepicker').val();
            var bossLevel = $("#bossLevel").val();
            var dutyLevel = $("#dutyLevel").val();
            if(title===""){ alert("title needed");}else{
            $.post( "/create", { title:title, desc:desc,ment:ment, eventDate:eventDate, eventTime:eventTime, bossLevel:bossLevel, dutyLevel:dutyLevel})
            .done(function( data ) {
              if(data){            
                window.location.replace("/");
              }else{
                alert( "There seems to be an issue saving the record" );
              }
            });
          }
        });
    });
  </script>
  <% } %>
</body>

</html>