<!DOCTYPE html>
<html lang="en">
    <% include ./partials/head %>
  </head>
  <body class="fixed-header ">
    <!-- START PAGE-CONTAINER -->
    <div class="lock-container full-height">
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="full-height sm-p-t-50 align-items-center d-md-flex">
        <div class="row full-width">
          <div class="col-md-12">
            <!-- START Lock Screen User Info -->
            <div class="d-flex justify-content-start align-items-center">
              <div class="">
                <div class="thumbnail-wrapper circular d48 m-r-10 ">
                    <%if (avatarId) { %>
                        <img width="43" height="43" alt="" src="https://cdn.discordapp.com/avatars/<%= userID %>/<%= avatarId %>.png">
                        <% }else{ %>
                  <img width="43" height="43" src="/assets/img/profiles/ba2x.jpg">
                        <% } %>
                        

                </div>
              </div>
              <div class="">
                <h5 class="logged hint-text no-margin">Logged in as</h5>
                <h4 class="name no-margin"><%= username %>#<%= discriminator %></h4>
              </div>
            </div>
            <!-- END Lock Screen User Info -->
          </div>
          <div class="col-md-12">
              <br>
            <!-- START Lock Screen Form -->
            <form id="form-lock" role="form">
                <div class="row">
                    <h4 class="logged hint-text no-margin">It appear that you haven't join our Discord Channel.<br>You are require to join us in order to have you in our record.</h4>                              
                    <h5 class="name no-margin">Click below to connect to our channel and <a href="/">try again</a></h5>
                </div>
              <div class="row">
                <div class="col-md-12">
                    <iframe src="https://discord.com/widget?id=809448172988006440&theme=dark" width="350" height="250" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
                </div>
              </div>
              <!-- START Lock Screen Notification Icons-->
              <!-- END Lock Screen Notification Icons-->
            </form>
            <!-- END Lock Screen Form -->
          </div>
        </div>
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE-CONTAINER -->
    <!-- START Lock Screen Footer Content-->
    <div class="pull-bottom full-width">
      <div class="lock-container m-b-10 clearfix row">
        <div class="col-lg-10 m-t-15">
          <p class="hinted-text small inline ">
            FINAL FANTASY XIV © 2010 - 2021 SQUARE ENIX CO., LTD. All Rights Reserved.</p>
        </div>
      </div>
    </div>
    <!-- END Lock Screen Footer Content-->
  <% include ./partials/script %>
    </script>
  </body>
</html>