<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>
</head>

<body class="fixed-header">
  <!-- <---% include ./partials/sidebar %> -->
  <!-- START PAGE-CONTAINER -->
  <div class="page-container" style="padding-left: 0px;">
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
      <!-- START PAGE CONTENT -->
      <div class="content ">
        <div class="container-fluid sm-p-l-5 bg-contrast-lower ">
   
          <div class="" style="padding:20px">
            <div class="card card-default bg-success">
              <div class="card-header  separator">
                <div class="card-title">Portlet Three
                </div>
              </div>
              <div class="card-body">
                <h3>
                  <span class="semi-bold">With</span> Separator</h3>
                <p>When it comes to digital design, the lines between functionality, aesthetics, and psychology are
                  inseparably blurred. Without the constraints of the physical world, there’s no natural form to fall
                  back on, and every bit of constraint and affordance must be introduced intentionally. Good design
                  makes a product useful. A product is bought to be used.</p>
              </div>
            </div>
          </div>
          <!-- -->
        </div>
        <!-- END CONTAINER FLUID -->
      </div>
      <!-- END PAGE CONTENT -->
      <% include ./partials/footer %>
    </div>
    <!-- END PAGE CONTENT WRAPPER -->
  </div>
  <!-- END PAGE CONTAINER -->
  <% include ./partials/script %>

</body>

</html>