<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>
</head>

<body class="fixed-header">
  <!-- <---% include ./partials/sidebar %> -->
  <!-- START PAGE-CONTAINER -->
  <div class="page-container" style="padding-left: 0px;">
    <% include ./partials/header %>
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
      <!-- START PAGE CONTENT -->
      <div class="content">
        <% include ./partials/jumbotron %>
        <!-- START CONTAINER FLUID -->
        <div class="container-fluid container-fixed-lg">
          <!-- BEGIN PlACE PAGE CONTENT HERE -->
          <!-- END PLACE PAGE CONTENT HERE -->
        </div>
        <!-- END CONTAINER FLUID -->
      </div>
      <!-- END PAGE CONTENT -->
      <% include ./partials/footer %>
    </div>
    <!-- END PAGE CONTENT WRAPPER -->
  </div>
  <!-- END PAGE CONTAINER -->
  <% include ./partials/script %>
</body>

</html>