<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>
  <style>
    .usercard {
      cursor: pointer;
    }

    .usercard:hover {
      background-color: #7252d3;
      color: white;
    }

    .usercard.checked {
      background-color: #7252d3;
      color: white;
    }
  </style>
</head>

<body class="fixed-header">
  <!-- <---% include ./partials/sidebar %> -->
  <!-- START PAGE-CONTAINER -->
  <div class="page-container" style="padding-left: 0px;">
    <% include ./partials/header %>
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
      <!-- START PAGE CONTENT -->
      <div class="content ">
        <!-- START CONTAINER FLUID -->
        <div class=" container-fluid   container-fixed-lg">
          <div id="rootwizard" class="m-t-50">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-tabs-linetriangle nav-tabs-separator nav-stack-sm" role="tablist"
              data-init-reponsive-tabs="dropdownfx">
              <li class="nav-item">
                <a class="active d-flex align-items-center" data-toggle="tab" href="#tab1" data-target="#tab1"
                  role="tab"><i class="material-icons fs-14 tab-icon">storage</i>
                  <span>Home Wold</span></a>
              </li>
              <li class="nav-item">
                <a class="d-flex align-items-center" data-toggle="tab" href="#tab2" data-target="#tab2" role="tab"><i
                    class="material-icons fs-14 tab-icon">person_search</i>
                  <span>Search</span></a>
              </li>
              <li class="nav-item">
                <a class="d-flex align-items-center" data-toggle="tab" href="#tab3" data-target="#tab3" role="tab"><i
                    class="material-icons fs-14 tab-icon">person_pin_circle</i> <span>Your Character</span></a>
              </li>
              <li class="nav-item">
                <a class="d-flex align-items-center" data-toggle="tab" href="#tab4" data-target="#tab4" role="tab"><i
                    class="material-icons fs-14 tab-icon">how_to_reg</i>
                  <span>Summary</span></a>
              </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane padding-20 sm-no-padding active slide-left" id="tab1">
                <div class="row row-same-height">
                  <div class="col-md-5 b-r b-dashed b-grey sm-b-b">
                    <div class="padding-30 sm-padding-5 sm-m-t-15 m-t-50">
                      <i class="material-icons hint-text">storage</i>
                      <h2>Home World</h2>
                      <p>Please choose your home world where your main character are in elemental
                        datacenter</p>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="padding-30 sm-padding-5">
                      <div class="form-check primary">
                        <input type="radio" name="homeworld" id="aegisrd" value="Aegis" checked="">
                        <label for="aegisrd">
                          Aegis
                        </label>
                      </div>
                      <div class="form-check primary">
                        <input type="radio" name="homeworld" id="atomosrd" value="Atomos">
                        <label for="atomosrd">
                          Atomos
                        </label>
                      </div>
                      <div class="form-check primary">
                        <input type="radio" name="homeworld" id="Carbunclerd" value="Carbuncle">
                        <label for="Carbunclerd">
                          Carbuncle
                        </label>
                      </div>
                      <div class="form-check primary">
                        <input type="radio" name="homeworld" id="Garudard" value="Garuda">
                        <label for="Garudard">
                          Garuda
                        </label>
                      </div>
                      <div class="form-check primary">
                        <input type="radio" name="homeworld" id="Gungnirrd" value="Gungnir">
                        <label for="Gungnirrd">
                          Gungnir
                        </label>
                      </div>
                      <div class="form-check primary">
                        <input type="radio" name="homeworld" id="Kujatard" value="Kujata">
                        <label for="Kujatard">
                          Kujata
                        </label>
                      </div>
                      <div class="form-check primary">
                        <input type="radio" name="homeworld" id="Ramuhrd" value="Ramuh">
                        <label for="Ramuhrd">
                          Ramuh
                        </label>
                      </div>
                      <div class="form-check primary">
                        <input type="radio" name="homeworld" id="Tonberryrd" value="Tonberry">
                        <label for="Tonberryrd">
                          Tonberry
                        </label>
                      </div>
                      <div class="form-check primary">
                        <input type="radio" name="homeworld" id="Typhonrd" value="Typhon">
                        <label for="Typhonrd">
                          Typhon
                        </label>
                      </div>
                      <div class="form-check primary">
                        <input type="radio" name="homeworld" id="Unicornrd" value="Unicorn">
                        <label for="Unicornrd">
                          Unicorn
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane slide-left padding-20 sm-no-padding" id="tab2">
                <div class="row row-same-height">
                  <div class="col-md-5 b-r b-dashed b-grey ">
                    <div class="padding-30 sm-padding-5 sm-m-t-15 m-t-50">
                      <i class="material-icons hint-text">person_search</i>
                      <h2>Character Search</h2>
                      <p>Enter your Final Fantasy XIV character name</p>
                      <p class="small hint-text">we will query lodestone via <a href="https://xivapi.com/">xivapi</a>
                        service.</p>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="padding-30 sm-padding-5">
                      <form role="form">
                        <div class="col-md-7 	d-none d-md-block">
                          <br>
                          <br>
                          <br>
                          <br>
                          <br>
                        </div>
                        <div class="form-group-attached">
                          <div class="row clearfix">
                            <div class="col-sm-12 ">
                              <div class="form-group form-group-default required">
                                <label>Character name</label>
                                <input type="text" id='charactername' class="form-control" required>
                              </div>
                            </div>
                          </div>
                        </div>
                        <br>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane slide-left padding-20 sm-no-padding" id="tab3">
                <div class="row row-same-height">
                  <div class="col-md-5 b-r b-dashed b-grey ">
                    <div class="padding-30 sm-padding-5 sm-m-t-15 m-t-50">
                      <i class="material-icons hint-text">person_pin_circle</i>
                      <h2>Character</h2>
                      <p>Select your character</p>
                      <p class="small hint-text">Please make sure you chose the right character, you will not be able to
                        change this yourself. Should you face with issue, please contact Gallant in the channel</p>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="padding-30 sm-padding-5 result">
                      <form role="form" id="searchresult">
                        <table class="table table-hover table-condensed  no-footer">
                        </table>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane slide-left padding-20 sm-no-padding" id="tab4">

              </div>
              <div class="padding-20 sm-padding-5 sm-m-b-20 sm-m-t-20 bg-white clearfix">
                <ul class="pager wizard no-style">
                  <li class="next">
                    <button aria-label="" class="btn btn-primary btn-cons btn-animated from-left pull-right"
                      type="button">
                      <span>Next</span>
                      <span class="hidden-block">
                        <i class="material-icons fs-16">local_shipping</i>
                      </span>
                    </button>
                  </li>
                  <li class="next finish hidden">
                    <button aria-label="" class="btn btn-primary btn-cons btn-animated from-left pull-right"
                      type="button" id="finishSearch">
                      <span>Finish</span>
                      <span class="hidden-block">
                        <i class="material-icons fs-16">settings</i>
                      </span>
                    </button>
                  </li>
                  <li class="previous first hidden">
                    <button aria-label="" class="btn btn-default btn-cons btn-animated from-left pull-right"
                      type="button">
                      <span>First</span>
                      <span class="hidden-block">
                        <i class="material-icons fs-16">settings</i>
                      </span>
                    </button>
                  </li>
                  <li class="previous">
                    <button aria-label="" class="btn btn-default btn-cons btn-animated from-left pull-right"
                      type="button">
                      <span>Previous</span>
                      <span class="hidden-block">
                        <i class="material-icons fs-14">settings</i>
                      </span>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- END CONTAINER FLUID -->
      </div>
      <!-- END PAGE CONTENT -->
      <% include ./partials/footer %>
    </div>
    <!-- END PAGE CONTENT WRAPPER -->
  </div>
  <!-- END PAGE CONTAINER -->
  <% include ./partials/script %>
  <script src="/assets/js/form_wizard.js" type="text/javascript"></script>
  <script src="/assets/js/scripts.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.11/jsrender.min.js"
    integrity="sha512-bKlNlbTH3duwZ28zoqEhXui/yuaPuQVci6OAVu0zh2WfYbEKD39HszVR8byP4/L4YyBo3b5CGIY+4ldVN93uCg=="
    crossorigin="anonymous"></script>

  <script id="theTmpl" type="text/x-jsrender">

    {{if Results && Results.length}}
        {{for Results}}
        <div class="card usercard" style="margin-bottom: 10px;" data-userid='{{:ID}}' data-avatar="{{:Avatar}}">
          <div class="card-body" style="padding: 10px;"> 
            <div>
              <div class="profile-img-wrapper m-t-5 inline">
                <img width="35" height="35" data-src="{{:Avatar}}" alt="" src="{{:Avatar}}">
              </div>
              <div class="inline m-l-10">
                <h4 class="m-t-5">{{:Name}}</h4>
                
              </div>
            </div>
          </div>
        </div>
        {{/for}}
    {{else}}
      <table class="table table-hover table-condensed  no-footer">
    <tr>
      Can't find character by the name, please try again!
      </tr>
    </table>
    {{/if}}
  </script>
  <script id="tmpl2" type="text/x-jsrender">
    <table class="table table-hover table-condensed  no-footer">
  <tr>
    Can't find character by the name, please try again!
    </tr>
  </table>
</script>
  <script id="theTmpl2" type="text/x-jsrender">
    <div class="row row-same-height" id='characterres' data-userid='{{:ID}}' data-username='{{:Name}}' data-server='{{:Server}}'data-potrait="{{:Portrait}}"  >
    <div class="col-md-5 b-r b-dashed b-grey ">
      <div class="padding-30 sm-padding-5 sm-m-t-15 m-t-50">
        <i class="material-icons hint-text">person_pin_circle</i>
        <h2>{{:Name}}</h2>
        <p>{{:Server}}</p>
        <p class="small hint-text">Please verify if this is your character</p>
      </div>
    </div>
    <div class="col-md-7">
      <div class="padding-30 sm-padding-5">
        <img src="{{:Portrait}}" class="img-fluid">
      </div>
    </div>
  </div>
  </script>
  <script>
    var oldCN = "";
    var oldHW = "";
    var oldID = "";
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      if ($(e.target).data('target') == '#tab3') {
        $('#blockAppliactionDialog').modal({
          backdrop: 'static',
          keyboard: false
        });
        var homeworld = $('input[name="homeworld"]:checked').val();
        var charactername = $("#charactername").val();
        if (typeof charactername === "undefined" || charactername === "") {
          var template = $.templates("#tmpl2");
          var htmlOutput = template.render();
          $("#searchresult").html(htmlOutput);
          $('#blockAppliactionDialog').modal('hide');
        } else if (oldCN == charactername && oldHW == homeworld) {
          $('#blockAppliactionDialog').modal('hide');
        } else {
          oldCN = charactername;
          oldHW = homeworld;
          var url = "https://xivapi.com/character/search?name=" + encodeURI(charactername) + "&server=" + homeworld
          console.log(url)
          $.get(url, function (data) {
            //$( ".result" ).html( data );
            var template = $.templates("#theTmpl");
            var htmlOutput = template.render(data);
            $("#searchresult").html(htmlOutput);

            $('#blockAppliactionDialog').modal('hide');
          });
        }
      } else if ($(e.target).data('target') == '#tab4') {

        $('#blockAppliactionDialog').modal({
          backdrop: 'static',
          keyboard: false
        });
        var userid = $(".usercard.checked").first().data('userid');
        if (typeof userid === "undefined" || userid === "") {
          $("#tab4").html("<h1>No Character was selected</h1>");
          $('#blockAppliactionDialog').modal('hide');
        } else if (oldID == userid) {
          $('#blockAppliactionDialog').modal('hide');
        } else {
          oldID = userid;
          var url = "https://xivapi.com/character/" + userid
          console.log(url)
          $.get(url, function (data) {
            //$( ".result" ).html( data );
            var template = $.templates("#theTmpl2");
            var htmlOutput = template.render(data.Character);
            $("#tab4").html(htmlOutput);

            $('#blockAppliactionDialog').modal('hide');
          });
        }
      }
    });
    $("#searchresult").on("click", ".usercard", function () {
      $(".usercard").removeClass("checked")
      $(this).addClass('checked')
    });
    $("#finishSearch").on("click", function () {
        $('#blockAppliactionDialog').modal({
          backdrop: 'static',
          keyboard: false
        });

        var avatar = $(".usercard.checked").first().data('avatar');
        var potrait= $("#characterres").data('potrait');
        var userid= $("#characterres").data('userid');
        var username= $("#characterres").data('username');
        var server= $("#characterres").data('server');
        var username= $("#characterres").data('username');
        $.post( "/users/connect", { server: server, avatar:avatar,potrait:potrait, userid:userid, username:username})
        .done(function( data ) {
          if(data){            
            window.location.replace("/");
          }else{
            alert( "There seems to be an issue saving the record" );
            $('#blockAppliactionDialog').modal('hide');
          }
        });
    });
  </script>
</body>

</html>