<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body class="fixed-header ">
    <div class="login-wrapper ">
      <!-- START Login Background Pic Wrapper-->
      <div class="bg-pic">
        <!-- START Background Caption-->
        <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
          <h1 class="semi-bold text-white"></h1>
          <p class="small">
            Delubrum Reginae (Savage)
          </p>
        </div>
        <!-- END Background Caption-->
      </div>
      <!-- END Login Background Pic Wrapper-->
      <!-- START Login Right Container-->
      <div class="login-container bg-white">
        <div class="p-l-50 p-r-50 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
          <img src="/assets/img/logo-48x48_c.png" alt="logo" data-src="/assets/img/logo-48x48_c.png" data-src-retina="/assets/img/logo-48x48_c@2x.png" width="48" height="48">
          <h2 class="p-t-25">[Elemental]  <br/> DRS Casual</h2>
          <p class="mw-80 m-t-5">We required to identify you with our Discord Channel</p>
          <!-- START Login Form -->
          <form id="form-login" class="p-t-15" role="form" >
            <div class="row">
              <div class="d-flex align-items-center justify-content-end">
                <button aria-label="" class="btn btn-block btn-primary btn-lg" type="button" onclick="location.href = '/users/login';" >
                  <i class=" fa fa-discord" ></i>&nbsp; &nbsp;
                    <span>Login with Discord</span>
                  </button>
              </div>
            </div>
            <!-- END Form Control-->
          </form>
          <!--END Login Form-->
          <div class="pull-bottom sm-pull-bottom">
            <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
              <div class="col-sm-9 no-padding m-t-10">
                <p class="small-text normal hint-text">
                    FINAL FANTASY XIV © 2010 - 2021 SQUARE ENIX CO., LTD. All Rights Reserved.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END Login Right Container-->
    </div>
    <!-- BEGIN VENDOR JS -->
  <% include ./partials/script %>
  </body>
</html>